.bg {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  padding: 3rem 5rem;
  background-image: linear-gradient(
    to bottom,
    #d6caf0,
    #b595dd,
    #8c64e9,
    #5517c9
  );
  .content-container {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    height: 100%;
    gap: 5rem;
  }
}
