.bg {
  padding: 5rem 5rem;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #d6caf0,
    #b595dd,
    #8c64e9,
    #430fa4
  );
  .content-container {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    height: 100%;
    gap: 5rem;
  }
}
