<div class="header-container">
  <div class="buttons">
    <a routerLink="">Home</a>
    <a routerLink="/contact" >Contact</a>
  </div>
  <div class="about">
    <div class="description-container">
      <h1 class="title">Purple Flame</h1>
      <h3 class="context">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit sunt
        consequuntur iusto doloremque quo! Vel corporis vitae impedit saepe?
        Enim ad aliquam fugit soluta sed unde voluptatibus alias expedita
        magnam.
      </h3>
    </div>
    <img class="logo-png" src="./assets/pictures/logo.png" />
  </div>
</div>
