.footer {
  min-height: 50px;
  background-image: radial-gradient(
    circle,
    #53006a,
    #4a0046,
    #38042a,
    #230615,
    #000000
  );
  color: white;
  text-align: center;
  height: 7rem;
}
