.container{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}
input {
  width: 35px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(92, 92, 92);
  margin-top: 10px;
} 
input:focus {
  outline: none;
}
